@define-color label_title #888888;

GtkLayout {
    background-color: #282828
}

/* 
    Settings for labels in the
    server setting popup window 
*/

GtkLabel#clocksource-label-title {
    color: @label_title;
}

GtkLabel#port-max-label-title {
    color: @label_title;
}

GtkLabel#timeout-label-title {
    color: @label_title;
}
/*
GtkButton#clocksource-button > GtkLabel {
    color: @label_normal;
}
*/

GtkTreeViewColumn:hover {
	color: blue;
}
